ul, ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-style: normal;
    color: currentColor;
}

h1, h2, h3, h4, h5,h6, p {
    margin: 0;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.title{
font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/*----------HEADER----------*/

.page-header{
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}



.header-logo-blue{
    color: #4d5ae5;
}

.header-menu-link{font-family: "Roboto",
sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-menu-link-action:active{
    text-decoration:underline
}

.header-contacts-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contacts-link:hover,
.header-contacts-link:focus{
        color: #404bbf;
}


/*----------HERO----------*/


.hero {
    background-color: #2e2f42;
}

.hero-wrapper{
    padding-top: 188px;
    padding-bottom: 188px;
    display: flex;
    justify-content: center;
}

.hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 48px;
        max-width: 496px;
}

.hero-btn {font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}


/*----------FEATURES----------*/
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px
;
}

.features-item {}

.features-subtitle {
    margin-bottom: 8px;
}

.features-text {
        color: #434455;
}


/*----------TEAM----------*/


.team {
    background-color: #f4f4fd;
}

.team-wrapper{
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    max-width: 162px;
    margin: 0 auto 72px;
}

.team-list {
    display: flex;
        gap: 24px
}

.team-item {
background-color: #fff
}

.team-img {
    width: 264px;
    height: 260px;
}

.team-subtitle {
        text-align: center;
        margin-bottom: 8px;
}

.team-text {
        text-align: center;
        color: #434455;
}

/*----------PORTFOLIO----------*/

.portfolio {
}

.portfolio-wrapper{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    max-width: 218px;
    margin: 0 auto 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px
}

.portfolio-item {}

.portfolio-img {
        width: 360px;
        height: 300px;
}

.portfolio-subtitle {
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
}


/*----------FOOTER----------*/


.footer{
    background-color: #2e2f42;
}

.footer-wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#f4f4fd;
    margin-bottom: 16px;
}

.footer-logo-blue {
    color: #4d5ae5;
}

.footer-text{
        color: #f4f4fd;
}
